.numfilter__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.filter__btn {
  margin: 0;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  height: 2rem;
}

.numfilter__container > input {
  margin: 0;
  margin-top: 0.5rem;
  height: 2rem;
}